body {
  overflow: hidden;
}

code {
  font-size: 5em;
  color: #19B5FE;
  text-align: left;
  display: block;
  position: relative;
  top: 200px;
  text-shadow: 0 0 35px #19B5FE;
}

code span {
  color: #fff;
}

body {
  background: rgb(19, 26, 34);
}

b {
animation-name: blinkCursor;
animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(1,0,0,1);
animation-duration: 1s;
}

@keyframes blinkCursor { 
from { opacity: 1.0 } to { opacity: 0.0 }
}
